:root{
    --main_blue: #5088fe;
    --place_holder: #676767;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f0f4ff, #dbeafe);
}
a{
    text-decoration: none;
    color: black;
}
.title{
    margin: 5px;
    gap: 10px;
    padding: 10px;
    width: fit-content;
}
.title img{
    width: 35px;
    height: 40px;
}
.desktop_title{
    display: flex;
}
.mobile_title{
    display: none;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: red;
}
.fullpage{
    display: flex;
    height: 100svh;
    position: relative;
}
.leftside{
    width: 50%;
    background-image: url(../Assets/login.webp);
    background-repeat: no-repeat;
    background-position:  top  ;
    border-radius: 0 20px 20px 0;
}
.rightside{
    width: 50%;
    /* background-color: aliceblue; */
    background-image: url(../Assets/email-pattern.png);
    background-size: contain;
}
.formCard{
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(50%,-50%);
    width: 30%;
    max-width: 650px;
    min-width: 230px;
    background-image: linear-gradient(to bottom right, #f5f7fa , #c3cfe2);
    border-radius: 20px;
    padding: 20px 25px;
    text-align: center;
    box-shadow: 3px 3px 10px ;
}

.formCard p {
    margin: 20px 0;
    font-size: 1.5rem;
}
.nameContainer{
    display: flex;
    gap: 15px;
    
}
input{
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    margin: 6px 0;
    border-radius: 7px;
    
}
.input_container{
    position: relative;
    width: 100%;
}
i{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
    
}
.long_input_icon{
    left: 3% !important;
}
button{
    width: 55%;
    margin: 10px 0;
    border-radius: 7px;
    padding: 8px;
}
button[type=submit]{
    background-color: #1877f2;
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
}
button[type=submit]:hover{
    background-color: #203dfb;
}
.forgot_password , .have_account{
    font-size: 0.8rem  !important;
    display: block;
    text-align: end;
    margin-right: 20px !important;
    color: var(--place_holder);
}
.have_account a{
    color: blue ;
    padding-left: 5px;

}
#login_btn:hover{
    cursor: pointer;
}
.formChoice{
    background-color:rgb(13, 71, 68);
    border-radius: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    width: 80%;
    margin: 0 auto;
}
.formChoice button{
    border-radius: 1000px;
    width: 48%;
    margin: 3px 0;
}
.buttonOFF{
    color: white;
    background-color: rgb(13, 71, 68) ;
    border: none;
}
@media(max-width: 1100px){
    .fullpage{
        flex-direction: column;
    }
    .rightside{
        height: 55svh;
        width: 100%;
        background-size: contain;
    }
    .leftside{
        height: 45vh;
        width: 100%;
        border-radius: 0 0 20px 20px;
        
    }
    .formCard{
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        min-width: 280px;
        max-width: 500px;
        
    }
    .nameContainer{
        flex-direction: column;
        gap: 0;
    }
    
.desktop_title{
    display: none;
}
.mobile_title{
    display: flex;
    color: white;
    width: auto;
    justify-content: center;
    padding-right: 30px;
}
i{
    left: 3%;
}
}
.input_error{
    --input_error_content: "";
    position:relative;
    margin-bottom: 10px;

}
.success_msg{
    color: #2ecc71;
    background-color: #eafaf1;
    font-weight: bold;
    font-size: 1rem !important;
}
.input_error input{
    border-color: #e74c3c;
    border-width: 3px;
}
.input_error::after{
    content: var(--input_error_content);
    position: absolute;
    color: #e74c3c;
    font-size: 0.65rem;
    bottom: -10px;
    left: 10px;
    font-weight: bold;
    
    
}
